./bin
./lib
./out

config_example.properties
**/*.properties
**/*.settings
*.class
*.log
*.ipr
*.iws
*.iml
*.cache
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.scala_dependencies
