<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>
<configuration  debug="true">
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
          <pattern>%date{yyyy-MM-dd HH:mm:ss} [%thread] %level %logger{0} - XXX %msg \(%file:%line\)%n</pattern>
      </encoder>
      <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
          <level>INFO</level>
      </filter>
  </appender>
  
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>log/app.log</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
          <fileNamePattern>log/app.%d{yyyy-MM-dd}.log.tar.gz</fileNamePattern>
          <maxHistory>7</maxHistory>
      </rollingPolicy>
      <encoder>
          <pattern>%d{yyyy-MM-dd'T'HH:mm:ss'Z'} - %m%n</pattern>
      </encoder>
  </appender>
  
  <root level="DEBUG">
      <appender-ref ref="FILE" />
  </root>
  
  <logger name="FILE" additivity="false">
      <level value="INFO" />
      <appender-ref ref="FILE" />
  </logger>
</configuration>  
